http://*.hpwaiver.com {
    # make sure all api requests are internal calls
    @apiPath {
        path /api/*
    }

    handle @apiPath {
		root * /var/www/hyperwaiver/public

		file_server

		rewrite * /index.php?{query}

		php_fastcgi php-fpm:9000
    }

    @pdfServerPath {
        path /puppeteer/generate/pdf
    }

    handle @pdfServerPath {
        # puppeteer server
        reverse_proxy host.docker.internal:3300
    }

    @pdfPagePath {
        path /pdfpageview/*
    }

    handle @pdfPagePath {
        reverse_proxy host.docker.internal:3000
    }

    handle {
        redir https://{host}{uri}
    }
}

*.hpwaiver.com {
	import ./security.conf
	
	tls internal

    @apiPath {
        path /api/*
    }

    handle @apiPath {
		root * /var/www/hyperwaiver/public

		file_server

		rewrite * /index.php?{query}

		php_fastcgi php-fpm:9000
    }

    @pdfServerPath {
        path /puppeteer/generate/pdf
    }

    handle @pdfServerPath {
        # puppeteer server
        reverse_proxy host.docker.internal:3300
    }

	handle {
		reverse_proxy host.docker.internal:3000
	}
}


# landing page
hyperpwaiver.com {
    import ./security.conf
	
	tls internal

	handle {
		reverse_proxy host.docker.internal:3100
	}
}


