http://hyperwaiver.co.nz,
http://*.hyperwaiver.co.nz {
    @apiPath {
        path /api*
    }

    handle @apiPath {
		root * /var/www/hyperwaiver/public

		file_server

		rewrite * /index.php?{query}

		php_fastcgi php-fpm:9000
    }

    handle {
        redir https://{host}{uri} permanent
    }
}

https://hyperwaiver.co.nz,
https://*.hyperwaiver.co.nz,
{
	import ./security.conf
	
	tls internal

	handle {
		reverse_proxy webapp:3000 {
            header_up Host {host}
        }
	}
}

http://ux-internal {
	handle {
		reverse_proxy webapp:3000 {
            header_up Host {host}
        }
	}
}