{
	acme_dns cloudflare {
		zone_token {env.CF_ZONE_ID}
		api_token {env.CF_API_KEY}
	}
	resolvers 1.1.1.1

}
# landing page
hyperwaiver.com,
www.hyperwaiver.com {
    log stdout;
    log syslog;
    import ./security.conf

    handle {
	reverse_proxy host.docker.internal:3100
    }
}


http://*.hyperwaiver.com {
    # make sure all api requests are internal calls
    @apiPath {
        path /api/*
    }

    handle @apiPath {
		root * /var/www/hyperwaiver/public

		file_server

		rewrite * /index.php?{query}

		php_fastcgi php-fpm:9000
    }

    @pdfServerPath {
        path /puppeteer/generate/pdf
    }

    handle @pdfServerPath {
        # puppeteer server
        reverse_proxy host.docker.internal:3300
    }

    @pdfPagePath {
	path /app/waiver/pdfview/*
    }

    handle @pdfPagePath {
        reverse_proxy host.docker.internal:3000
    }

    handle {
        redir https://{host}{uri}
    }
}

https://*.hyperwaiver.com {
    import ./security.conf

    @apiPath {
        path /api/*
    }

    handle @apiPath {
        root * /var/www/hyperwaiver/public

        file_server

        rewrite * /index.php?{query}

        php_fastcgi php-fpm:9000
    }

    @pdfServerPath {
        path /puppeteer/generate/pdf
    }

    handle @pdfServerPath {
        # puppeteer server
        reverse_proxy host.docker.internal:3300
    }

    handle {
        reverse_proxy host.docker.internal:3000
    }
}
