hyperwaiver.com {
    tls {
        dns cloudflare {env.CF_API_TOKEN}
        resolvers 1.1.1.1
    }

    redir https://www.{host}{uri}
}

www.hyperwaiver.com {
    encode zstd gzip

    import ./security.conf
    
    tls {
        dns cloudflare {env.CF_API_TOKEN}
        resolvers 1.1.1.1
    }

    handle {
        reverse_proxy http://127.0.0.1:3100 {
            header_up X-Forwarded-For {remote_host}
            header_up X-Forwarded-Proto {scheme}
            header_up X-Forwarded-Host {host}
            header_up X-Real-IP {remote_host}
        }
    }
}

http://*.hyperwaiver.com {
    encode zstd gzip

    import ./security.conf

    @apiPath {
        path /api/*
    }

    handle @apiPath {
	root * /var/www/hyperwaiver/public

	file_server

	rewrite * /index.php?{query}

	php_fastcgi http://127.0.0.1:9000
    }

    @pdfServerPath {
        path /puppeteer/generate/pdf
    }

    handle @pdfServerPath {
        # puppeteer server
        reverse_proxy http://127.0.0.1:3300
    }

    @pdfPagePath {
	    path /app/waiver/pdfview/*
    }

    handle @pdfPagePath {
        reverse_proxy http://127.0.0.1:3000 {
            header_up X-Forwarded-For {remote_host}
            header_up X-Forwarded-Proto {scheme}
            header_up X-Forwarded-Host {host}
            header_up X-Real-IP {remote_host}
        }
    }

    handle {
        redir https://{host}{uri}
    }
}

https://*.hyperwaiver.com {
    encode zstd gzip

    import ./security.conf

    tls {
        dns cloudflare {env.CF_API_TOKEN}
        resolvers 1.1.1.1
    }

    @apiPath {
        path /api/*
    }

    handle @apiPath {
        root * /var/www/hyperwaiver/public

        file_server

        rewrite * /index.php?{query}

        php_fastcgi http://127.0.0.1:9000 {
            header_up X-Forwarded-For {remote_host}
            header_up X-Forwarded-Proto {scheme}
            header_up X-Forwarded-Host {host}
            header_up X-Real-IP {remote_host}
        }
    }

    @pdfServerPath {
        path /puppeteer/generate/pdf
    }

    handle @pdfServerPath {
        # puppeteer server
        reverse_proxy http://127.0.0.1:3300
    }

    handle {
        reverse_proxy http://127.0.0.1:3000
    }
}
